In [2]:
# %pip install ib_insync

Collecting ib_insync
  Using cached ib_insync-0.9.70-py3-none-any.whl (70 kB)
Collecting eventkit
  Using cached eventkit-0.8.9-py3-none-any.whl (31 kB)
Requirement already satisfied: nest-asyncio in c:\users\kushwaha\anaconda3\lib\site-packages (from ib_insync) (1.4.2)
Requirement already satisfied: numpy in c:\users\kushwaha\anaconda3\lib\site-packages (from eventkit->ib_insync) (1.19.2)
Installing collected packages: eventkit, ib-insync
Successfully installed eventkit-0.8.9 ib-insync-0.9.70
Note: you may need to restart the kernel to use updated packages.

In [5]:
# %pip install nest_asyncio

Requirement already satisfied: nest_asyncio in c:\users\kushwaha\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

In [39]:
from ib_insync import *
util.startLoop()

# import nest_asyncio
# nest_asyncio.apply()


ib = IB()
# ib.disconnect()
ib.connect('127.0.0.1', 7497, clientId=3)


contract = Crypto('BTC', exchange='PAXOS', currency='USD')
bars = ib.reqHistoricalData(
    contract, endDateTime='', durationStr='1 D',
    barSizeSetting='1 min', whatToShow='MIDPOINT', useRTH=True)

# convert to pandas dataframe:
df = util.df(bars)
print(df)

                   date       open       high        low      close  volume  \
0   2022-08-01 16:01:00  22956.125  22991.375  22956.125  22988.875    -1.0
1   2022-08-01 16:02:00  22988.875  22988.875  22988.875  22988.875    -1.0
2   2022-08-01 16:03:00  22988.875  22988.875  22959.875  22959.875    -1.0
3   2022-08-01 16:04:00  22959.875  22961.000  22943.875  22952.625    -1.0
4   2022-08-01 16:05:00  22952.625  22977.125  22952.625  22977.125    -1.0
..                  ...        ...        ...        ...        ...     ...
330 2022-08-01 21:31:00  23160.125  23160.125  23131.375  23131.375    -1.0
331 2022-08-01 21:32:00  23131.375  23131.375  23121.875  23126.125    -1.0
332 2022-08-01 21:33:00  23126.125  23139.625  23126.125  23139.625    -1.0
333 2022-08-01 21:34:00  23139.625  23139.625  23122.625  23122.625    -1.0
334 2022-08-01 21:35:00  23122.625  23122.625  23120.375  23120.375    -1.0

     average  barCount
0       -1.0        -1
1       -1.0        -1
2       -1.0        -1
3       -1.0        -1
4       -1.0        -1
..       ...       ...
330     -1.0        -1
331     -1.0        -1
332     -1.0        -1
333     -1.0        -1
334     -1.0        -1

[335 rows x 8 columns]

In [19]:
def CheckBullish(bar):
    return (bar.close > bar.open)

In [31]:
# df.loc[0].close > df.loc[0].open
for i in df.iterrows():
    display(CheckBullish(i[1]))

SyntaxError: unexpected EOF while parsing (<ipython-input-31-5c50e4889512>, line 4)

In [5]:
df['change']= df['close'] - df['open']

In [6]:
df

,date,open,high,low,close,volume,average,barCount,change
0,2022-06-19 03:00:00,18235.125,18510.750,18219.500,18278.625,-1.0,-1.0,-1,43.500
1,2022-06-19 04:00:00,18278.625,18683.500,18238.625,18641.375,-1.0,-1.0,-1,362.750
2,2022-06-19 05:00:00,18641.375,19283.250,18546.500,18977.125,-1.0,-1.0,-1,335.750
3,2022-06-19 06:00:00,18977.125,20002.625,18876.250,19876.375,-1.0,-1.0,-1,899.250
4,2022-06-19 07:00:00,19876.375,19962.750,19540.875,19666.625,-1.0,-1.0,-1,-209.750
...,...,...,...,...,...,...,...,...,...
776,2022-07-28 18:00:00,23932.250,23987.875,23823.875,23970.125,-1.0,-1.0,-1,37.875
777,2022-07-28 19:00:00,23970.125,23981.125,23766.375,23859.125,-1.0,-1.0,-1,-111.000
778,2022-07-28 20:00:00,23859.125,23942.875,23716.125,23887.875,-1.0,-1.0,-1,28.750
779,2022-07-28 21:00:00,23887.875,23893.875,23759.875,23871.750,-1.0,-1.0,-1,-16.125
780,2022-07-28 22:00:00,23871.750,23910.250,23743.500,23779.375,-1.0,-1.0,-1,-92.375

In [41]:
df['ten_average'] = df.close.rolling(10).mean()
df['thirty_average'] = df.close.rolling(30).mean()
df2 = df.dropna()
df2['MA_diff'] = df['thirty_average'] > df['ten_average']
df2

<ipython-input-41-ac5ff02fc352>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['MA_diff'] = df['thirty_average'] > df['ten_average']

,date,open,high,low,close,volume,average,barCount,ten_average,thirty_average,MA_diff
29,2022-08-01 16:30:00,23029.875,23038.875,23029.875,23038.875,-1.0,-1.0,-1,23053.150,23005.970833,False
30,2022-08-01 16:31:00,23038.875,23040.375,23038.875,23040.375,-1.0,-1.0,-1,23053.825,23007.687500,False
31,2022-08-01 16:32:00,23040.375,23050.375,23040.375,23050.375,-1.0,-1.0,-1,23054.700,23009.737500,False
32,2022-08-01 16:33:00,23050.375,23050.625,23036.125,23038.625,-1.0,-1.0,-1,23054.400,23012.362500,False
33,2022-08-01 16:34:00,23038.625,23038.625,23009.125,23009.125,-1.0,-1.0,-1,23051.150,23014.245833,False
...,...,...,...,...,...,...,...,...,...,...,...
330,2022-08-01 21:31:00,23160.125,23160.125,23131.375,23131.375,-1.0,-1.0,-1,23172.100,23192.058333,True
331,2022-08-01 21:32:00,23131.375,23131.375,23121.875,23126.125,-1.0,-1.0,-1,23165.200,23189.108333,True
332,2022-08-01 21:33:00,23126.125,23139.625,23126.125,23139.625,-1.0,-1.0,-1,23160.775,23186.791667,True
333,2022-08-01 21:34:00,23139.625,23139.625,23122.625,23122.625,-1.0,-1.0,-1,23154.700,23184.083333,True
334,2022-08-01 21:35:00,23122.625,23122.625,23120.375,23120.375,-1.0,-1.0,-1,23148.075,23181.300000,True

In [46]:
def PlaceOrder(order_type):
    print(order_type)
    
def GetSignals(df):
    for count, row in enumerate(df.iterrows()):
        if count==0:
            sentiment = row[1]['MA_diff']
        else:
            if row[1]['MA_diff'] == sentiment:
                PlaceOrder('no change')
            else:
                if row[1]['MA_diff']:
                    PlaceOrder('sell')
                else:
                    PlaceOrder('buy')
                sentiment = row[1]['MA_diff']

In [49]:
# GetSignals(df2)

In [45]:

    
    
# def CheckMA(bar, low_MA, high_MA):
#     if low_